
/* ini CSS buat semua page (universal) */

/* HTML border box */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}



:root {
    --color-background-primary: #3f3e3c;
    --color-backgrounds-secondary: #f8f5f0;

    --color-text-primary: #0334d7;
    --color-text-secondary: #f8f5f0;

    --color-background-info: #f8f5f0;
    --color-text-info: #3f3e3c;

    --color-border-secondary: #0334d7;
    --color-border-tertiary: #f8f5f0;
}


html {
    scroll-behavior: smooth;
    background-color: #f8f5f0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: Helvetica, Tahoma;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* customization */

/* span */
.linkText {
    text-decoration: none;
    color: inherit;
}
.blueHL {
    color: #0334d7;
}
.grayHL {
    color: #8d8d8d;
}

/* nav sections */
.nav {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .navLogo {
        max-width: 128px;
        height: auto;
    }
/* nav end */


